.header{
  padding:0% 0;
  background-color: black;
  width:100%;
  
}

.header-container{
  margin:0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;

}

.header-link-1{
  margin-left: 10%;
  width: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}


.uber{
  font-size: 150%;
  font-weight: 500;
}
.company-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: 6vw;
  margin-left: 4%;
  align-items: center;
  display: flex;
}
.U{
  font-size: 142%;
}
.company-button option{
  background-color: rgb(183, 180, 180);
}

.company-button:hover{
background-color: rgba(225, 217, 225, 0.914);
}

.safety-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: max-content;
  margin-left: 4%;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}
.safety-button:hover{
background-color: rgba(225, 217, 225, 0.914);
}
.help-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: max-content;
  margin-left: 4%;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}
.help-button:hover{
background-color: rgba(225, 217, 225, 0.914);
}
.header-link-2{
  width: auto;
  display: flex;
  color: white;
  margin-right: 10%;
  justify-content: space-between;
  }

.en-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: max-content;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}
.en-button:hover{
  background-color: rgba(225, 217, 225, 0.914);
}
.en-button svg{
  height:15px;
  width:15px;

}
.product-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: max-content;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;

}
.product-button:hover{
  background-color: rgba(225, 217, 225, 0.914);
}
.product-button svg{
  height:15px;
  width:15px;

}

.login-button{
  border-radius: 2vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: white;
  width: max-content;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}
.login-button:hover{
  background-color: rgba(225, 217, 225, 0.914);
}

.signup-button{
  border-radius: 3vw;
  background-color: white;
  border: none;
  cursor: pointer;
  height: 70%;
  margin-top: 2%;
  margin-bottom: 0%;
  color: black;
  min-width: max-content;
  align-items: center;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;

}